/* styles/Dashboard.module.scss */
.dashboardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .dashboardPage {
    font-size: 20px; /* Slightly smaller font size for tablets */
    height: auto; /* Allow height to adjust for content */
    padding: 20px; /* Added padding for small devices */
    box-sizing: border-box;
  }
}
