.dashboardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .dashboardPage {
    font-size: 20px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
}
